.app.dark {
  --bg-color: rgb(35, 35, 35);
  --inverted-bg-color: #e4e4e4ea;

  --primary-color: #dd67be;
  --secondary-color: #e4e4e4ea;

  --inverted-primary-color: #dd67be;
  --inverted-secondary-color: rgb(35, 35, 35);
}
